@{
    ViewData["Title"] = "Notificações";
}

<h1>Notificações</h1>

<button id="enviarNotificacao">Enviar Notificação</button>

 
 
<script> 
    document.getElementById("enviarNotificacao").addEventListener("click", function () {
        fetch("/Home/EnviarNotificacao", { method: "POST" });
    });
</script>

